 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 374px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 20px 906px 0 100px;
}

.u-section-1 .u-text-2 {
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 20px 799px 0 100px;
}

.u-section-1 .u-table-1 {
  width: 912px;
  margin: 30px auto 60px 100px;
}

.u-block-335d-40 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-block-335d-32 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    margin-right: 28px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 780px;
    margin-left: 0;
    margin-right: 699px;
  }

  .u-section-1 .u-table-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-right: 479px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-right: 299px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-right: 99px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 374px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-2 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 20px 906px 0 100px;
}

.u-section-2 .u-table-1 {
  width: 912px;
  margin: 51px 128px 60px 100px;
}

.u-block-d779-14 {
  border-style: solid;
}

.u-block-d779-40 {
  height: 46px;
}

.u-section-2 .u-table-cell-1 {
  font-weight: 700;
  border-style: solid;
}

.u-section-2 .u-table-cell-2 {
  font-weight: 700;
  border-style: solid;
}

.u-section-2 .u-table-cell-3 {
  font-weight: 700;
  border-style: solid;
}

.u-section-2 .u-table-cell-4 {
  font-weight: 700;
  border-style: solid;
}

.u-section-2 .u-table-cell-5 {
  border-style: solid;
}

.u-section-2 .u-table-cell-6 {
  border-style: solid;
}

.u-section-2 .u-table-cell-7 {
  border-style: solid;
}

.u-section-2 .u-table-cell-8 {
  border-style: solid;
}

.u-block-d779-32 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    margin-right: 28px;
    margin-left: 0;
  }

  .u-section-2 .u-table-1 {
    margin-right: 28px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-table-1 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
  }
}
